# macOS
.DS_Store

# Jekyll & Bundler
_site/
.jekyll-cache/
.jekyll-metadata/
.sass-cache/
vendor/
.bundle/

# Dependency versions
# Gemfile.lock # 의존성 고정을 위해 이 파일은 커밋에 포함되어야 합니다.

# Log files
*.log
tmp/

# Visual Studio Code (workspace settings are committed)
# .vscode/

# Obsidian specific
_obsidian/Unreal/.obsidian/

# Gemini artifacts
.gemini/