---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {%- if page.categories.size > 0 -%}
        • Categories: 
        {%- for category in page.categories -%}
          <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category }}</a>
          {%- unless forloop.last -%},&nbsp;{%- endunless -%}
        {%- endfor -%}
      {%- endif -%}
      {%- if page.tags.size > 0 -%}
        • Tags:
        {%- for tag in page.tags -%}
          <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/">#{{ tag }}</a>
          {%- unless forloop.last -%},&nbsp;{%- endunless -%}
        {%- endfor -%}
      {%- endif -%}
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- else -%}
  <div class="comment-notice">
    <p><em>Comments are disabled. To enable them, please configure your Disqus shortname in the `_config.yml` file.</em></p>
  </div>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
